<!DOCTYPE html>
<html>
    <head>
        <title>Comunicacion de redes seguras</title>
    </head>
    <body>
        <h2>Inicio de sesion Comunicacion de Redes seguras</h2>
        {{ error_login }}
	{{ register_msg }}
	{{ secret }}
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Usuario: <input type="text" name="username" value="" size="50" />
            <br />
            Contraseña: <input type="password" name="password" value="" size="50" />
            <br />
             ingresar el token (en caso de tener 2F activado): <input type="text" name="token" value="" size="6" />
            <br />
           <input type="submit" value="submit" />
         </form>
	<a href=/register/>registrarse</a>
    </body>
</html>
